<%= render "shared/header" %>
<div class='main'>

  <div class='club-contents'>
    <h2 class='title'>クラブ/講座一覧</h2>
    <ul class='club-lists'>
      <% if @clubs.present? %>
        <% @clubs.each do |club| %>
          <li class='list'>
            <%= link_to club_path(club) do %>
              <div class='club-img-content'>
                <%= image_tag club.image, class: "club-img" %>
              </div>
              <div class='club-info'>
                <h3 class='club-name'>
                  <%= club.club_name %>
                </h3>
              </div>
            <% end %>
          </li>
        <% end %>
      <% else %>
        <li class='list'>
          <%= link_to "#" do %>
          <%= image_tag "https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg", class: "item-img" %>
          <div class='club-info'>
            <div class='club-name'>
              <span>クラブ名/講座名</span>
            </div>
          </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<%= render "shared/footer" %>